* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Purple: hsl(245, 68%, 65%);
}

body {
    background-image: url('images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 566px;
    width: 328px;
    background-color: #ffffff;

    border-radius: 20px;

    /* border: 1px solid red; */
}

.header {
    width: 328px;
    border: none;

    /* border: 1px solid black; */
}

.header img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    /* border: 1px solid black; */
}

.content {
    height: 398px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /* border: 1px solid black; */
}

.content h2 {
    margin-top: 3vh;
    font-weight: 900;
    width: auto;
    text-align: center;
    background-color: #ffffff;
    color: var(--Dark-blue);
    /* border: 1px solid green; */
}

.content p {
    font-size: 16px;
    width: 270px;
    height: auto;
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
    color: var(--Desaturated-blue);
    background-color: #ffffff;


    /* border: 1px solid blue; */
}

.rate_info {
    margin-top: 3vh;
    margin-bottom: 2.5vh;
    width: 278px;
    height: 80px;
    border-radius: 12px;
    background-color: var(--Very-pale-blue);

    display: flex;
    align-items: center;

}

.rate_info img {
    width: 50px;
    height: 50px;
    margin-left: 5%;
    /* border: 1px solid red; */
}

.rate_plan {
    margin-left: 6%;
    margin-right: 9%;
    /* border: 1px solid green; */

}

.rate_plan .plan_type {
    display: block;
    width: auto;
    font-weight: 900;
    color: var(--Dark-blue);
    /* border: 1px solid red; */

}

.rate_info p {
    display: block;
    width: auto;
    font-size: .8em;
    background-color: transparent;
    margin: 0 auto;

    /* border: 1px solid blue; */
}

.rate_info a:link,
.rate_info a:visited {
    color: var(--Bright-blue);
}

.rate_info a:active,
.rate_info a:hover {
    color: var(--Purple);
    text-decoration: none;
}

.button {
    background-color: var(--Bright-blue);
    height: 50px;
    width: 278px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1vh;
    /* font-size: 15px; */
    font-weight: 700;
    border: none;
    box-shadow: 1px 10px 20px hsl(246, 70%, 83%);
    /* border: 1px solid red; */
}

.button:active,
.button:hover {
    cursor: pointer;
}

.proceed {
    color: var(--Very-pale-blue);
}


.proceed:active,
.proceed:hover {
    background-color: var(--Purple);
}


.proceed a:link,
.proceed a:visited {
    color: var(--Very-pale-blue);
    text-decoration: none;
}

.proceed a:active,
.proceed a:hover {
    text-decoration: none;
    background-color: var(--Purple);
    color: var(--Very-pale-blue);

}

.cancel {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 15px;
}

.cancel:active,
.cancel:hover {
    cursor: pointer;
}

.cancel a:link,
.cancel a:visited {
    color: var(--Desaturated-blue);
    text-decoration: none;
}

.cancel a:active,
.cancel a:hover {
    text-decoration: none;
    background-color: transparent;
    color: var(--Dark-blue);
}

.attribution {
    position: absolute;
    bottom: 8vh;
    /* border: 1px solid black; */
}


@media only screen and (min-width: 767px) {
    body {
        background-image: url('images/pattern-background-desktop.svg');
    }

    .container {
        width: 405px;
        height: 630px;
    }

    .header {
        width: 405px;
    }

    .content {
        height: 420px;
    }

    .content p {
        width: 320px;
    }

    .rate_info {
        height: 88px;
        width: 320px;
    }

    .rate_info p {
        display: block;
        width: auto;
        font-size: .8em;
        background-color: transparent;
        margin: 0 auto;
    }

    .button {
        height: 45px;
        width: 320px;
    }
}