:root {
  --blue: hsl(246, 80%, 60%);
  --orange: hsl(15, 100%, 70%);
  --blue_play: hsl(195, 74%, 62%);
  --red: hsl(348, 100%, 68%);
  --green: hsl(145, 58%, 55%);
  --purple: hsl(264, 64%, 52%);
  --yellow: hsl(43, 84%, 65%);

  --very_dark_blue: hsl(226, 43%, 10%);
  --dark_blue: hsl(235, 46%, 20%);
  --highlight_blue: hsl(235, 45%, 61%);
  --pale_blue: hsl(236, 100%, 87%);
  --on_hover: hsl(235, 41%, 34%);
}
