:root {
  --dark-blue: 212, 27%, 19%;
  --gray-blue: 213, 9%, 39%;
  --gray: 232, 10%, 55%;
  --light-gray: 210, 4%, 67%;
  --white: 0, 0%, 100%;

  //background colors
  --sage: 168, 44%, 70%;
  --green: 168, 34%, 41%;

  //hightligher colors
  --yellow: 51, 100%, 49%;
  --peach: 7, 99%, 70%;
}
