:root {
  // Primary colors

  --primary-red: 12, 88%, 59%;
  --primary-blue: 228, 39%, 23%;

  // Neutral colors

  --neutral-gray-blue: 227, 12%, 61%;
  --neutral-dark-blue: 233, 12%, 13%;
  --neutral-pale-red: 13, 100%, 96%;
  --neutral-light-gray: 0, 0%, 98%;
  --neutral-white: 9, 54%, 97%;
}
