// font sizes
$XL_font_size: 7.2rem;
$L_font_size: 4.8rem;
$M_font_size: 1.8rem;
$S_font_size: 1.6rem;
$quote_font_size: 1.8rem;
$body_font_size: 2rem;
$footer_font_size: 1.5rem;

// line heights
$XL_line_height: 7.8rem;
$L_line_height: 5.6rem;
$M_line_height: 3.2rem;
$S_line_height: 2.6rem;
$quote_line_height: 3.2rem;
$body_line_height: 3.5rem;
$footer_line_height: 3.2rem;

// letter spacings
$XL_letter_spacing: -0.1rem;
$L_letter_spacing: -0.05rem;
$M_letter_spacing: -0.02rem;
$S_letter_spacing: 0.25rem;
