:root {
  --blackish_blue: hsl(219, 43%, 16%);
  --dark_grey: hsl(218, 20%, 36%);
  --beige: hsl(30, 33%, 93%);
  --white: hsl(30, 29%, 97%);
  --purple: hsl(264, 100%, 69%);
  --pink: hsl(292, 76%, 54%);
  --orange: hsl(31, 100%, 65%);
}
