//font
$font: "Rubik", sans-serif;
$thin: 300;
$normal: 400;
$bold: 500;

//mobile
$mobile_userName_font_size: 2.4rem;
$mobile_userName_font_wt: $thin;

$timeframe_font_size: 1.8rem;
$timeframe_font_wt: $normal;

$title_font_size: 1.8rem;
$title_font_wt: $bold;

$mobile_content_font_size: 3.2rem;
$mobile_content_font_wt: $thin;

$history_font_size: 1.5rem;
$history_font_wt: $normal;

//desktop
$desktop_userName_font_size: 4rem;
$desktop_userName_font_wt: $thin;

$desktop_content_font_size: 5.6rem;
$desktop_content_font_wt: $thin;
